@import "../stylesheets/reset.css";
h1 {
    text-align: center;
    font-size: 50px;
    // color: white;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #529fb9, #0b1b90);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   
}

.over-view {
    color: white;
    font-family: 'Roboto', sans-serif;
   
    width: 50%;
    

    
}

.over-view p {
    text-align: center;
   margin-top: 150px;
  
}
   

ul {
    list-style: none;
}

body {
    background-color: rgb(38, 45, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
  
   
}

#search-form {
    display: flex;
    flex-direction: column;
   
    
}


#search-input {
    margin-right: 10px;
    padding: 1rem; /* Increase the padding for more height */
    font-size: 1.2rem; /* Increase the font size for larger text */
    width: 300px;
}

#chartContainer {
   height: 1000px;
   width: 1200px; 
   padding: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
  
}

.categoryButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin-top: 40px;
    height: 100px;
    // margin-left: 100px;
    
}

button {
    border-radius: 4px;
    background-color: rgb(37, 46, 95);
    color: white;
    width: 90px;
    border-color: rgb(39, 45, 97);
    font-family: 'Roboto', sans-serif;
    height: 90px;
    flex-direction: left;
    border-style: 30px solid skyblue;
}

button:hover {
    background-color: darkorange;
    color: black;
    border-color: orange;
}

#search-button {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-color: darkslategray;
}

.search-button:hover {
    background-color: deeppink;
}


ul li {
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}



.container {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    
    
  }
.flaticon-icon {
    width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  vertical-align: middle;
  margin-right: 5px;
}

.tooltip {
    position: relative;
  }
  
.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    transition: visibility 0s, opacity 0.3s;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#results {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-top: 10px;
    margin: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // height: 1000px;
    // width: 1000px;
    

}

.result-box {
    padding: 20px;
    display: flex;
    border-radius: 4px;
    width: 100px;
   
}



.authors-list {
    display: flex;
    justify-content: center;
}


.articles-list {
    display: flex;
    justify-content: center;
}

.article-details-conatiner {
    display: flex;
    
}

.article-button {
    height: 100%;
    width: 100%;
    text-align: left;

}
.articles-list li {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }


.summary {
    display: flex;
    justify-content: center;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 30px;
}

h4 {
    color: white;
    font-size: 38px;
    text-align: left;
    text-shadow: 0 0 10px black;
    padding: 30px;
}

#heatmapContainer {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container p {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}

.authors-heading {
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
}

#total-article-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    margin-top: 50px;
}

.total-article-count-button {
    background-color: rgb(224, 157, 14);
    color: #000;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}