h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 40px;
    font-family: 'Lilita One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

body {
    background-color: deepskyblue;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
   
}


#search-input {
    margin-right: 10px;
}

.chartContainer {
   height: 1000px;
   width: 1200px; 
   padding: 50px;
   margin-top: 100px;
   display: flex;
   
  
}

.categoryButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 400px;
    height: 400px;
    margin-left: 100px;
    
}

button {
    border-radius: 4px;
    background-color: deepskyblue;
    color: white;
    width: 90px;
    border-color: rgb(8, 168, 232);
    font-family: 'Lilita One', cursive;
    height: 90px;
    flex-direction: left;
    border-style: 30px solid skyblue;
}

button:hover {
    background-color: darkorange;
    color: black;
    border-color: orange;
}

.search-button {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-color: darkslategray;
}

.search-button:hover {
    background-color: deeppink;
}

/* #economicsButton {
    background-color: green;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    
}

#mathButton {
    background-color: blue;
    color: white;

}

#csButton {
    background-color: darkorange;
    color: white;
    
}

#eeButton {
    background-color: purple;
    color: white;
    
}

#quantBioButton {
    background-color: darkcyan;
    color: white;
    
}

#quantFinanceButton {
    background-color: darkred;
    color: white;
    
} */

/* #physicsButton {
    
}

#statsButton:hover {
    
}  */

ul li {
    margin: 20px;
    text-align: center;
}



.container {
    display: flex;
    flex-direction: row;
    
    
  }
.flaticon-icon {
    width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  vertical-align: middle;
  margin-right: 5px;
}

.tooltip {
    position: relative;
  }
  
.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    transition: visibility 0s, opacity 0.3s;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}